/* loader */
.loader_bg{
  position: fixed;
  z-index: 100;
  background: #ECEFF4;
  background-size: 100%;
  width: 100vh;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #193566;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

.hero {
  font-size: 35px;
  text-align: left;
}

.active-btn:hover {
  background-color: #d1d9e6;
  color: #193566;
  font-size: large;
}

.active-btn {
  border-radius: 10px;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -56px -35px 70px #ffffff;
  color: #193566;
  font-weight: bold;
  border-style: none;
  width: 150px;
  height: 50px;
  padding: 15px 10px;
  margin-bottom: 20px;
}

.image-info {
  max-width: 400px;
  min-width: 280px;
}

.image-info {
  max-width: 100%;
}

body {
  background: #ECEFF4;
  margin-top: 30px;
  font-family: optima;
}

.text-logo {
  margin-top: 15px;
  color: #193566;
  font-weight: bold;
}

.heading-port {
  color: #193566;
  font-weight: bold;
  text-align: center;
}

.hero-logo {
  width: 130px;
  border-radius: 30px;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -8px -8px 20px #ffffff;
  border-color: rgba(255,255,255,0);
  color: #193566;
}

.heroL-image {
  max-width: 130px;
  padding: 20px;
}

.heading-port {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-project {
  border-radius: 30px;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -8px -8px 20px #ffffff;
  border-color: rgba(255,255,255,0);
  color: #193566;
}

.hero-project-img {
  max-width: 450px;
  max-height: 320px;
  margin-bottom: 20px;
}

.icon-copy {
  box-shadow: -5px -5px 16px rgb(255,255,255), 5px 5px 16px 0px #193566;
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.social-icons i:hover {
  background-color: #d1d9e6;
  color: #193566;
}

.project-img {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}

.side-about-info {
  border-radius: 20px;
  background: #ECEFF4;
  box-shadow: inset 5px 5px 20px #97a7c3, inset -10px -10px 20px #ffffff;
  padding: 40px;
  height: 720px;
}

.text-side-info {
  text-align: justify;
}

.profile-img-info {
  width: 80%;
}

.fab.fa-facebook {
  border-radius: 50%;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -8px -8px 20px #ffffff;
  color: #193566;
  border: none;
}

.fab.fa-instagram {
  border-radius: 50%;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -8px -8px 20px #ffffff;
  color: #193566;
  border: none;
}

.fab.fa-github {
  border-radius: 50%;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -8px -8px 20px #ffffff;
  color: #193566;
  border: none;
}

.icon.ion-social-linkedin {
  border-radius: 50%;
  background: #ECEFF4;
  box-shadow: 8px 8px 20px 0px #97a7c3, -8px -8px 20px #ffffff;
  color: #193566;
  border: none;
}

.right-side-info {
  background: #eceff4;
}

.heading-intro {
  color: #193566;
  font-weight: bold;
}

.intro-info {
  height: 580px;
}

.heading-sub {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.hero-navbar {
  border-radius: 10px;
  background: #ECEFF4;
  box-shadow: -15px -15px 20px 0px rgba(255,255,255,0.31), 9px 8px 20px #97A7C3;
  padding: 20px;
  border-style: none;
  margin-top: 30px;
}

.hero-nav {
  font-family: optima;
  color: #193566;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  width: 120px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #193566;
}

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}

.project-cover {
  border-radius: 24px;
  background: #ECEFF4;
  box-shadow: inset 7px 7px 14px #d0d2d7, inset -7px -7px 14px #ffffff;
}

.fab.fa-dribbble-square.ico-bold {
  color: #193566;
  box-shadow: -5px -5px 20px 0px #ffffff, 5px 5px 20px 0px #97a7c3;
  border-radius: 50px;
}

.hero-nav:hover {
  font-size: 18px;
  width: 120px;
}

a {
  color: #193566;
  text-decoration: none;
}

